ul {
    list-style-type: none;
}

h1,h3{
    font-size: 30px;
    color: rgb(81, 0, 128);
    text-shadow: 1px 1px white;
    text-align: center;

}
.p {
    color: rgb(81, 0, 128);
}
.left {
    display:inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width:46%;
    margin-top: 22px;
    text-align: center;
}

.right {
    display:inline-block;
    position: relative;
    margin: 1%;
    float: right;
    width:46%;
    margin-top: 1%;
    text-align: center;
    border:1px solid grey;
    
}

.scrollbox{
    height: 400px;
    overflow-x:scroll;
}

textarea{
    border:1px solid grey;
}