<div class="left">
<h1>Messaging Service</h1>
<div>
<p>Enter Message </p>
<textarea name="Text1" cols="40" rows="5" id="Text1" #messageText></textarea>
<div>
<br>
<button id="button1" (click)="PostMessage(messageText.value)">Send Message</button>
</div>
</div>

<ul id="MessageList"></ul>
<h3>Filter the list to see only a certain emotion: </h3>
<label>I want to see: </label>
<ul>
  <li>Anger 😡 <input #anger id="checkBox" type="checkbox" checked></li>
  <li>Content 😐<input #content id="checkBox" type="checkbox" checked> </li>
  <li>Happy 😃 <input #happy id="checkBox" type="checkbox" checked> </li>
</ul>
<button (click)="FilterMessages(anger.checked, content.checked, happy.checked)">Filter</button>
</div>
<div class="right">
<h3>Latest Messages: </h3>
<p *ngFor="let m of messages">
  {{m.userName}}<br>
  {{m.message}}<br>
  I'm Feeling .... {{m.sentiment}} <br>
  <em>At: {{m.time}}</em>
</p>
</div>
