
h1,h3{
    font-size: 30px;
    color: rgb(81, 0, 128);
    text-shadow: 1px 1px white;
    text-align: center;

}

.left {
    display:inline-block;
    position: relative;
    margin: 2%;
    float: left;
    width:46%;
    margin-top: 1%;
    text-align: center;

}

.right {
    display:inline-block;
    position: relative;
    margin: 2%;
    float: right;
    width:46%;
    margin-top: 1%;
    text-align: center;
    
}

