<div>
<h1>Message Details: </h1>
<p><b>user's name:</b>  {{myMessage.userName}}</p>
<p><b>message:</b>  {{message}}<!--{{myMessage.message}}--></p>
<p><b>time:</b>  {{time}}<!--{{myMessage.time}}--></p>
<p><b>sentiment:</b> {{sentiment}} % <!--{{myMessage.sentiment}}--></p>
<p><b>joy:</b>  {{joy}} %<!--{{myMessage.joy}}--></p>
<p><b>sadness:</b>  {{sadness}} % <!--{{myMessage.sadness}}--></p>
<p><b>surprise:</b>  {{surprise}} % <!--{{myMessage.surprise}}--></p>
<p><b>anger:</b>  {{anger}} %<!--{{myMessage.anger}}--></p>
<p><b>fear:</b> {{fear}} %<!--{{myMessage.fear}}--></p>
<button (click)="GoBack()">Back</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


