<div>
<h1>Message Details: </h1>
<label><b>All values are between 0 and 1</b></label>
<p><b>user's name:</b>  {{myMessage.userName}}</p>
<p><b>message:</b>  {{myMessage.message}}</p>
<p><b>sentiment:</b> {{myMessage.sentiment}}</p>
<p><b>joy:</b>  {{myMessage.joy}}</p>
<p><b>sadness:</b>  {{myMessage.sadness}}</p>
<p><b>surprise:</b>  {{myMessage.surprise}}</p>
<p><b>anger:</b>  {{myMessage.anger}}</p>
<p><b>fear:</b> {{myMessage.fear}}</p>
<button (click)="GoBack()">Back</button>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


