
body{
    text-align: center;
 
}
p{
    font-size: 16px;
}

.p {
    color: rgb(81, 0, 128);
}

h1{
    font-size: 30px;
    color: rgb(60, 0, 97);
    text-shadow: 1px 1px white;

}

h5{
    font-size: 20px;

}

p,h1,h5{
    padding: 0px;
}

input{
    border:1px solid grey;
}