
body{
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

}

textarea, input, button {
    font-family : inherit;
    font-size   : 100%;
}

h1{
    font-size: 40px;
    color: rgb(60, 0, 97);
    text-shadow: 1px 1px white;
    text-align: center;
}

.title{
    text-align: center;
}