/* You can add global styles to this file, and also import other style files */
html{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(white 50%, grey);
    background-size: cover;
}